{% extends "base.html" %}
{% block titulo %}Nintendo Shop{% endblock %}
{% block conteudo %}
	<div id="main">
        <div class="header">
            <img class="pure-img-responsive" src="/static/imagens/nintendo_shop_logo.png" alt="Nintendo Shop">
            <h2>A melhor loja fictícia da Nintendo.</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">Frete Grátis por tempo limitado. <br />Aproveite o desconto de 20% para pagamentos via PIX.  <br />Aqui você encontra alguns produtos da Nintendo.  <br />Devolução Fácil. Até 10x sem juros no cartão de crédito.</h2>
          <br />
          <br />
          <br />
          <br />
{% endblock %}