{% extends "base.html" %}
{% block titulo %}Produtos{% endblock %}
{% block conteudo %}
	<div id="main">
        <div class="header">
            <h1>Produtos</h1>
            <h2>Pague com Pix e ganhe 20% de desconto</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">Console Nintendo Switch OLED - Branco</h2>
            <h2 class="content-price">R$3500,00</h2>
            <p>
              <ul class="a-unordered-list a-vertical a-spacing-mini">
                <li><span class="a-list-item"> Console Nintendo Switch modelo OLED: Joy-Cons e Dock na cor branca;  </span></li>
                <li><span class="a-list-item"> Tela OLED de 7";  </span></li>
                <li><span class="a-list-item"> Memória interna de 64GB;  </span></li>
                <li><span class="a-list-item"> Dock com entrada LAN para internet a cabo.  </span></li>
                <li><span class="a-list-item"> PRODUTO IMPORTADO. A versão poderá variar de acordo com o estoque disponível no dia da aprovação da compra. Consulte seu vendedor. IMPORTANTE: Produto de região livre, portanto, independente da versão do console, poderão ser utilizados jogos físicos e digitais de qualquer região assim como contas online de qualquer país. A configuração do console poderá ser feita em diversos idiomas, incluindo português brasileiro.</span></li>
              </ul>
            </p>

            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imagens/switch1.jpg" alt="Switch OLED">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imagens/switch2.jpg" alt="Switch OLED">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imagens/switch3.jpg" alt="Switch OLED com Dock">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imagens/switch4.jpg" alt="Leon surpreso com seu Switch OLED">
                </div>
            </div>
          
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <a href="/switch"><img class="pure-img-responsive" src="/static/imagens/botao_pagar_cartao.png" alt="Comprar no cartão"></a><p>Pague agora mesmo com cartão de crédito e parcele em até 10x sem juros</p>
                </div>
                <div class="pure-u-1-2">
                  <a href="/switch/pix"><img class="pure-img-responsive" src="/static/imagens/botao_pagar_pix.png" alt="Pagar com Pix"></a><p>OU pague com PIX e tenha 20% de desconto</p>
                </div>

              
            </div>
            <h2 class="content-subhead">Controle Pro Cinza - Nintendo Switch (nacional)</h2>
            <h2 class="content-price">R$450,00</h3>
            <p>
              <ul class="a-unordered-list a-vertical a-spacing-mini">
                <li><span class="a-list-item"> Controle para Nintendo Switch sem Fio Pro Controller Aumente o nível das suas sessões de jogo com o Controle Pro Controller. Inclui controle de movimento, vibração HD, funcionalidade amiibo pré-instalada e muito mais. Na cor cinza e sem fio, esse controle irá elevar seu jogo e facilitará suas ações no console. O Pro Controller vem para te dar mais uma opção de como jogar em seu Switch e te deixar a vontade para jogar como quiser.</span></li>
                <li><span class="a-list-item"> Conectividade sem fio</span></li>
                <li><span class="a-list-item"> Cabo de carregamento (USB-C a USB-A)</span></li>
                <li><span class="a-list-item"> Atenção: amiibo vendido separadamente.</span></li>
              </ul>
            </p>

            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imagens/procontrole1.jpg" alt="Switch OLED">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imagens/procontrole2.jpg" alt="Switch OLED">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imagens/procontrole3.jpg" alt="Switch OLED com Dock">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/imagens/procontrole4.jpg" alt="Leon surpreso com seu Switch OLED">
                </div>
            </div>
          
            <div class="pure-g">
                <div class="pure-u-1-2">
                  <a href="/procontrole"><img class="pure-img-responsive" src="/static/imagens/botao_pagar_cartao.png" alt="Comprar no cartão"></a><p>Pague agora mesmo com cartão de crédito e parcele em até 10x sem juros</p>
                </div>
                <div class="pure-u-1-2">
                  <a href="/procontrole/pix"><img class="pure-img-responsive" src="/static/imagens/botao_pagar_pix.png" alt="Pagar com Pix"></a><p>OU pague com PIX e tenha 20% de desconto</p>
                </div>
            </div>
{% endblock %}