<footer class="footer">
<div class="wrapper">
Feito por Stanley Oliveira <img title="Brazil" alt="Brazil" class="emoji" src="https://twemoji.maxcdn.com/2/svg/1f1e7-1f1f7.svg" width="16" height="16" /> &copy; 2022.
  Este site não tem nenhum vinculo com a marca Nintendo.
</div>
<div class="wrapper">
<a href="https://eshop-prices.com/contact?currency=BRL">Contact</a>&nbsp;&nbsp;•&nbsp;&nbsp;<a target="_blank" rel="noopener noreferrer" href="https://twitter.com/eShop_prices">@eShop_Prices</a>
</div>
</footer>