{% extends "base.html" %}
{% block titulo %}Sobre Nintendo Shop{% endblock %}
{% block conteudo %}
	<div id="main">
        <div class="header">
            <h1>Nintendo Shop</h1>
            <h2>Sobre a nossa loja</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">A melhor loja fictícia da Nintendo</h2>
            <p>
                Nintendo Shop é uma loja familiar que leva ao cliente a praticidade da compra online de produtos da marca Nintendo. 
                <br />
                Nosso propósito é oferecer o melhor atendimento para todos os nossos clientes ficticios. 
                <br />
                 A sua satisfação é a nossa maior realização, venha fazer parte dessa desta história! 
            </p>

            <h2 class="content-subhead">Agora vamos falar sobre nosso site</h2>
            <p>
                Nosso site é feito utilizando python, flask e jinja. Entregando aos nossos clientes de forma ágil nossas páginas feitas usando Pure CSS, html e javascript.
            </p>

            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg" alt="Peyto Lake">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2813/9069585985_80da8db54f.jpg" alt="Train">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm6.staticflickr.com/5456/9121446012_c1640e42d0.jpg" alt="T-Shirt Store">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm8.staticflickr.com/7357/9086701425_fda3024927.jpg" alt="Mountain">
                </div>
            </div>
            </p>
{% endblock %}